if node.hasRole('aside') || node.hasRole('speaker')
  aside.notes !{node.getContent()}
else
  div.admonitionblock(id=node.getId(),class=[node.getAttribute('name'), node.getRole()])
    table
      tr
        td.icon
          if node.document.getAttribute('icons') == 'font'
            i(class="icon-#{node.getAttribute('name')}",title=node.getCaption())
          else if node.document.getAttribute('icons', false)
            img(src=node.$icon_uri(node.getAttribute('name')),alt=node.getCaption())
          else
            div.title
              | !{node.getCaption()}
          if node.getTitle() != false
            div.title !{node.getTitle()}
          | !{node.getContent()}
