div.audioblock(id=node.getId(),class=[node.getStyle(), node.getRole()])
  if node.getTitle() != false
    div.title !{node.$captioned_title()}
  div.content
    audio(src=node.getMediaUri(node.getAttribute('target')),autoplay=node.isOption('autoplay'),controls=node.isOption('nocontrols'),loop=node.isOption('loop'))
      | "Your browser does not support the audio tag."
